.bg-banner {
    background: url('../images/banner.jpg') center top no-repeat;
    background-size: cover;
}

.bg-banner .row {
    min-height: 90vh;
    padding: 150px 0 120px;
}

.bg-banner h1 {
   color: #FFFFFF;
   line-height: 62px;
   font-size: 64px;
   font-weight: 700;
   margin-bottom: 25px;
}

.bg-banner p {
    color: #fff;
}

.bg-banner li {
    display: inline;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    background: #fff;
    padding: 12px 2px;
}

.bg-banner li.first {padding-left: 29px;}
.bg-banner li.last {padding-right: 29px;}
.bg-banner li::before {content: "•";}
.bg-banner li:first-child::before { display: none; }

.bg-banner li :hover {color:#A60F14;}

.curvas { position: relative; }
.curvas img {
    position: absolute;
    top: 280px;
    right: -50%;
    bottom: 0;
    left: -50%;
    margin: auto;
}

.bg-white {
    padding: 150px 0;
}

.bg-white p {
    font-size: 18px;
    color: #5A5A5A;
}

.img-tomadas {
    width: 500px;
    margin-left: 74px;
    z-index: 100;
    position: relative;
    margin-top: -55px;  
}

.red-img::before {
    content: "";
    width: 1431px;
    height: 80%;
    position: absolute;
    top: 20px;
    left: 350px;
    background: url('../images/bg-home-right.jpg')  center center no-repeat;
    background-size: cover;
}

.red-list li.first {padding-left: 29px;}
.red-list li.last {padding-right:29px;}

.red-list li {
    display: inline;
    font-size: 18px;
    line-height: 26px;
    background: #A60F14;
    padding: 12px 2px;
}

.red-list li::before {content: "•"; color: #FFF;}
.red-list li:first-child::before {display: none;}

.red-list li :hover {color:#fff;}

.red-list li a {color: #fff;}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    gap: 60px;
    padding: 55px 0;
}

.produtos img { width: 100%; transition: all .3s ease-in-out; }
.produtos img:hover { transform: scale(1.05); box-shadow: 0 10px 30px rgba(0,0,0,.2); }

.linha-completa { margin-bottom: 150px; }

.linha-completa h3 {
    font-size: 30px;
    color: #220000;
    text-align: center;
    padding-bottom: 107px;
}

.bg-red::before {
    content: "";
    width: 1431px;
    height: 100%;
    position: absolute;
    top:0;
    right: 60px;
    background: url('../images/bg-home-left.jpg')  center center no-repeat;
    background-size: cover;
}

.bg-red {
    padding: 90px 0 70px;
}
.bg-red h4 {
    color: #fff;
    z-index: 100;
    position: relative;
    font-size: 32px;
}

.bg-red-2 {
    z-index: 100;
    position: relative;
    margin-top: -175px;
}

.bg-red-2 p{
    font-size: 18px;
    color: #fff;
}

.catalogo {
    position: relative;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 100%;
    padding: 30px;
    text-align: center;
    background: url(../images/bg-catalog.jpg) right bottom no-repeat;
}

.catalogo h2 {
    color: #220000;
    font-size: 24px;
    line-height: 24px;
}

.catalogo span {
    border: 1px solid ;
    background: #9D1724;
    color: #fff;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 10px 20px;
}

.catalogo img {
    position: absolute;
    bottom: -110px;
    left: -70px;
}

.list-produtos { margin-bottom: 150px; }

.button-more {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    line-height: 36px;
    color: #000;
}
    .button-more::before {
        content: '';
        width: 50px;
        height: 3px;
        position: absolute;
        left: -70px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #9D1724;
    }

    .button-more::after {
        content: '';
        width: 50px;
        height: 3px;
        position: absolute;
        right: -70px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #9D1724;
    }