footer {
    background: #0E0E0E;
    padding: 60px 0 40px;
}

footer p {
    color: #FFFFFF;
    font-size: 16px;
    /* padding-bottom: 130px; */
}

.midias svg {
    width: 18px;
    margin-right: 5px;
}

.midias #whats path { fill:#E11C25; }
.midias #phone path { stroke:#E11C25; }

.midias span{
    color:#fff
}

.copyright {
    display: block;
    border-top: 1px solid rgba(255,255,255,.3);
    padding: 40px 0 0;
    margin-top: 80px;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}